@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-color: #c2c5ce #1f222a;
  }

  @layer base {
    :root {
      --chart-1: 173 58% 39%;
      --chart-2: 42 76% 61%;
      --chart-3: 232 20% 54%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }

    .dark {
      --chart-1: 220 70% 50%;
      --chart-5: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-2: 340 75% 55%;
    }
  }

  body {
    @apply text-white;
    @apply bg-grey-600;
    @apply mb-0;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
  }

  body * {
    -webkit-tap-highlight-color: transparent;
  }

  body *::selection {
    background-color: #fceb54;
  }

  img {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    width: auto;
    height: auto;
  }

  /* Scroll bar stylings */
  ::-webkit-scrollbar {
    @apply size-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-grey-100;
    @apply rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-grey-50;
  }

  /* :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  } */
}

.carousel-height {
  height: 380px;

  @media (min-width: 900px) {
    height: 380px;
  }

  @media (min-width: 1200px) {
    height: 380px;
  }
}

.wallet-adapter-button-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  padding: 14px;
  border-radius: 8px !important;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  background: #fceb54 !important;
  color: #15171c !important;
}

.wallet-adapter-dropdown-list {
  display: none;
}

.wallet-adapter-button-trigger:hover {
  filter: brightness(1.05);
  background: #fceb54 !important;
}

.wallet-adapter-modal-wrapper .wallet-adapter-modal-button-close {
  background-color: #15171c !important;
}

.wallet-adapter-modal-list .wallet-adapter-button:hover {
  background-color: #1f222a !important;
}

.wallet-adapter-modal-container {
  display: flex;
  margin: 1rem !important;
  min-height: fit-content !important;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.connect-wallet-dialog .wallet-adapter-dropdown {
  width: min-content;
}

.comic-banner-standard {
  background: linear-gradient(rgba(21, 23, 28, 0.2) 0%,
      rgba(21, 23, 28, 0.2) 16%,
      rgba(21, 23, 28, 0.75) 72%,
      rgb(21, 23, 28) 100%);
}

.comic-banner-simpler {
  background: linear-gradient(rgba(21, 23, 28, 0) 0%,
      rgba(21, 23, 28, 0.05) 85%,
      rgba(21, 23, 28, 0.75) 92%,
      rgb(21, 23, 28) 100%);
}

.comic-issue-banner-standard {
  background: linear-gradient(rgba(21, 23, 28, 0.85) 0%, rgb(21, 23, 28) 100%);
}

.comic-issue-banner-simpler {
  background: linear-gradient(rgba(21, 23, 28, 0.2) 0%,
      rgba(21, 23, 28, 0.2) 16%,
      rgba(21, 23, 28, 0.75) 72%,
      rgb(21, 23, 28) 100%);
}

.blink {
  width: 100%;
}

.blink>div {
  border-radius: 0.5rem !important;
}

.blink img {
  max-height: 240px;
}

.blink.custom {
  padding-top: 1rem;
  padding-bottom: 1rem;

  --blink-bg-primary: #202327;
  --blink-button: #fceb54;
  --blink-button-disabled: #2f3336;
  --blink-button-hover: rgba(252, 235, 84, 0.9);
  --blink-button-success: #00ae661a;
  --blink-icon-error: #ff6565;
  --blink-icon-error-hover: #ff7a7a;
  --blink-icon-primary: #6e767d;
  --blink-icon-primary-hover: #949ca4;
  --blink-icon-warning: #ffb545;
  --blink-icon-warning-hover: #ffc875;
  --blink-input-bg: #202327;
  --blink-input-stroke: #3d4144;
  --blink-input-stroke-disabled: #2f3336;
  --blink-input-stroke-error: #ff6565;
  --blink-input-stroke-hover: #6e767d;
  --blink-input-stroke-selected: #fceb54;
  --blink-stroke-error: #ff6565;
  --blink-stroke-primary: #fceb54;
  --blink-stroke-secondary: #3d4144;
  --blink-stroke-warning: #ffb545;
  --blink-text-brand: #35aeff;
  --blink-text-button: #17191d;
  --blink-text-button-disabled: #768088;
  --blink-text-button-success: #12dc88;
  --blink-text-error: #ff6565;
  --blink-text-error-hover: #ff7a7a;
  --blink-text-input: #17191d;
  --blink-text-input-disabled: #566470;
  --blink-text-input-placeholder: #6e767d;
  --blink-text-link: #6e767d;
  --blink-text-link-hover: #949ca4;
  --blink-text-primary: #fff;
  --blink-text-secondary: #949ca4;
  --blink-text-success: #12dc88;
  --blink-text-warning: #ffb545;
  --blink-text-warning-hover: #ffc875;
  --blink-transparent-error: #aa00001a;
  --blink-transparent-grey: #6e767d1a;
  --blink-transparent-warning: #a966001a;

  --blink-border-radius-rounded-lg: 0.5rem;
  --blink-border-radius-rounded-xl: 0.75rem;
  --blink-border-radius-rounded-2xl: 1rem;
  --blink-border-radius-rounded-button: 9999px;
  --blink-border-radius-rounded-input: 9999px;

  --blink-shadow-container: 0px 2px 6px 0px #fceb5438, 0px 1px 24px 0px #fceb543d;
}

/* Hack to remove the 'powered by Dialect' text */
.blink.custom div>div:last-of-type>div:last-of-type.mt-4 {
  /* background-color: red; */
  display: none;
}